handlingPicture/MatLabCompiler失败用文件/serial/serial/java/jar/install/com/mathworks/install/resources/installerdata.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="downloadData" type="downloadDataType"/>
  <xs:complexType name="archiveType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name" use="optional"/>
        <xs:attribute type="xs:string" name="md5val" use="optional"/>
        <xs:attribute type="xs:string" name="platform" use="optional"/>
        <xs:attribute type="xs:int" name="size" use="optional"/>
        <xs:attribute type="xs:int" name="uncompressedsize" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="downloadDataType">
    <xs:sequence>
      <xs:element type="productDataType" name="productData"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="productDataType">
    <xs:sequence>
      <xs:element type="productType" name="product" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="productType">
    <xs:sequence>
      <xs:element type="archiveType" name="archive" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="optional"/>
    <xs:attribute type="xs:string" name="audience" use="optional"/>
  </xs:complexType>
</xs:schema>